# OS / misc
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.python-version
.venv/
venv/

# Env
.env

# Airflow
logs/
plugins/__pycache__/
dags/__pycache__/

# Exports
exports/

# Notebooks
.ipynb_checkpoints/

# Build / dist
build/
dist/
*.egg-info/


